@charset "UTF-8";

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  position: relative;
  width: calc(100% - 240px);
}

.swiper-container {
  width: 80%;
  max-width: 1000px;
  height: 600px;
  margin: 0 0 50px;
}

.swiper-slide img {
  height: 100%;
}

.side-menu {
  width: 240px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.side-menu ul{
  width: 160px;
  list-style: none;
  padding: 0;
  margin: 0 auto 72px;
}

.side-menu a {
  text-decoration: none;
  color: #295691;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.side-menu li {
  text-align: left;
  margin-top: 16px;
}

.logo {
  display: block;
  width: 160px;
  height: 160px;
  margin: 40px auto 80px;
}

.reservation {
  margin: 0 32px;
  border-top: solid 1px #295691;
  border-bottom: solid 1px #295691;
}

.reservation a {
  display: block;
  padding: 32px 0;
}

.reservation a span {
  font-size: 4rem;
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.next {
  display: none;
  position: absolute;
  top: 85px;
  right: 8px;
}

.next i {
  color: rgb(200, 200, 200);
  font-size: 3rem;
}



/* style */
.style {
  /* width: calc(100% - 240px); */
  padding: 40px 0 ;
  background-color: #fff;
  color: #333;
}
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 4px;
  font-size: 2rem;
  color: #295691;
  text-transform: uppercase;
}

.style-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
}

.style-box {
  width: 240px;
  margin-bottom: 24px;
}

.style-box a {
  display: block;
  position: relative;
  height: 270px;
  overflow: hidden;
}

.style-box strong {
  position: absolute;
  display: block;
  z-index: 1;
  text-align: left;
  top: 50%;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.style-box span {
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

/* commitment */
.commitment {
  /* width: calc(100% - 240px);; */
  padding: 40px 0;
  background-color: #fff;
  color: #333;
}

.commit-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width: 900px;
  margin: 50px auto 0;
}
.commit-box {
  width: 30%;
  margin-bottom: 48px;
  background-color: rgb(245, 245, 245);
}

.commit-title {
  margin: 10px 20px;
  color: #295691;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}
.commit-text {
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  text-align: left;
  font-size: 1.1rem;
  padding: 10%;
}

.commit-box img {
  width: 100%;
}

/* menu */
.menu {
  /* width: calc(100% - 240px);; */
  padding: 40px 0;
}

.menu h3 {
  color: #295691;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 50px;
}

.menu table {
  margin: 0px auto 0 auto;
  width: 80%;
  max-width: 858px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.caption {
  font-size: 1rem;
  color: black;
  font-weight: normal;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  display: table-row;
}

th, td {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: normal;
  color: #295691;
  font-weight: bold;
}

td {
  display: table-cell;
  vertical-align: inherit;
  font-family: sans-serif;
}

#menu table tr th, #menu table tr td {
  padding: 16px 0 16px 1%;
  font-size: 1.2rem;
  vertical-align: middle;
  border-bottom: 1px solid rgb(200, 200, 200);
}

#menu table {
  border-top: 2px solid #295691;
  border-bottom: 2px solid #295691;
}

/* access */
.access {
  /* width: calc(100% - 240px); */
  padding: 40px 0;
}

.salon-name {
  color: #295691;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 16px 0;
}

.access-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.access-box {
  width: 360px;
  background-color: rgb(245, 245, 245);
  padding-bottom: 24px ;
  margin: 0 32px 50px;
}

.access-box table {
  margin: 0 auto;
}

.access-box th {
  color: #295691;
  font-weight: bold;
  display: inline-block;
  margin-right: 48px;
  text-align: left;
  width: 64px;
}

.access-box th, .access-box td {
  font-size: 1.2rem;
}

.access-box th {
  padding: 4px 0;
}

.access-box i {
  color: #295691;
}

.access-box a {
  text-decoration: none;
}

/* footer */
.footer {
  /* width: calc(100% - 240px); */
  padding: 80px 0 ;
  font-size: 2rem;
  color: #fff;
  background-color: #295691;
  letter-spacing: 2px;
  width: 100%;
}


/* スマホ・タブレットのとき */

@media (min-width: 1024px) {
  .side-menu a:hover, .access-box i:hover {
    color: magenta;
  }
}

@media (max-width: 414px) {
  .swiper-container {
    width: 100%;
    max-width: 500px;
    height: 200px !important;
    margin: 0;
  }
  .swiper-slide img {
    height: 100%;
  }
    .next {
    display: block;
  }
}

@media (max-width: 1024px) {
  .swiper-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 0;
  }
  .swiper-slide img {
    height: 100%;
  }
}

@media (max-width: 768px) {

  body {
    width: 100%;
    font-size: 1.3rem;
    margin-top: 120px;
    margin-bottom: 60px;
    overflow-x: hidden;
  }

  .swiper-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 0;
  }

  .swiper-slide img {
    height: 100%;
  }

  .heading {
    font-size: 2.5rem;
  }


  .side-menu {
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 2;
    overflow: hidden;
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .logo-box {
    width: 100%;
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 10px ;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .nav {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .nav ul {
    width: 560px;
    height: 40px;
    display: inline-table;
  }

  .nav li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    border-left: 0.5px solid rgb(230, 230, 230);
    border-right: 0.5px solid rgb(230, 230, 230);
    box-sizing: border-box;
  }

  .nav ul li + li {
    border-left: none;
  }

  .nav a {
    color: #295691;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .reservation {
    position: fixed;
    z-index: 3;
    bottom: 0;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 60px;
    margin: 0;
    border: none;
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .reservation a {
    padding: 0;
    color: #295691;
    height: 60px;
    line-height: 16px;
  }

  .reservation span, .reservation br:first-child {
    display: none;
  }

  .style-wrapper {
    margin: 0 auto;
  }

  .commit-wrapper {
    margin: 0;
    width: 100%;
  }

  .commit-box, .commit-box img {
    width: 100%;
  }

  .commit-text {
    width: 90%;
    padding: 0 0 16px;
  }

  .menu-wrapper {
    margin: 0 auto;
  }

  .menu h3 {
    margin-bottom: 0;
  }

  #first {
    margin-top: 0;
  }

  #menu table {
    border: none;
  }

  #menu table tr th, #menu table tr td {
    display: block;
    font-weight: bold;
    line-height: 1.5em;
    background-color: rgb(245, 245, 245);
    border: none;
  }

  #menu table tr th {
    color: #295691;
    padding: 20px 20px 10px ;
    margin-top: 15px;
  }

  #menu table tr td {
    padding: 0 20px 20px ;
    text-align: right;
    font-weight: normal;
  }

  #menu table tr td[colspan],
  #menu table tr td[rowspan="4"],
  #menu table tr td[rowspan="3"] {
    padding: 5px 10px ;
    background-color: #d9e9ff;
    color: #295691;
    font-weight: bold;
    text-align: center;
    border: solid rgb(245, 245, 245);
    border-width: 0 20px ;
    box-sizing: border-box;
  }

  .course {
    padding: 20px 20px 0 !important;
    color: #295691;
    font-weight: bold !important;
  }

  .price {
    padding-bottom: 0 !important;
  }

  .access-wrapper {
    margin: 0 auto;
  }

  .access-box table {
    width: 70%;
  }

  .access-box th {
    width: 70px;
    text-align: right;
    margin-right: 20px;
  }
  .footer {
    /* width: calc(100% - 240px); */
    padding: 40px 0 ;
    font-size: 1.1rem;
    width: 100%;
  }
}

